language: julia

os:
  - osx
  - linux

julia:
  - 1.0
  - 1.4
  - nightly

env:
  global:
    - PYTHON=''

# after_success:
#   - julia --project -e 'using Pkg; Pkg.add("Coverage"); import GeophysicalFlows; joinpath(dirname(pathof(GeophysicalFlows)), ".."); using Coverage; Coveralls.submit(Coveralls.process_folder());'
#   - julia --project -e 'using Pkg; Pkg.add("Coverage"); import GeophysicalFlows; joinpath(dirname(pathof(GeophysicalFlows)), ".."); using Coverage; Codecov.submit(Codecov.process_folder())'

jobs:
  allow_failures:
  - julia: nightly
  include:
    - stage: "Documentation"
      julia: 1.4
      os: linux
      script:
        - julia --project=docs/ -e 'using Pkg; Pkg.instantiate(); Pkg.build("PyPlot"); Pkg.using("PyPlot"); 
                                    Pkg.develop(PackageSpec(path=pwd()));'
        - JULIA_DEBUG=all julia --project=docs/ docs/make.jl
      after_success: skip

notifications:
  email: true
  
